.container{
    width:80.5% ;
    height: max-content;
    background-image: linear-gradient(60deg, #1d1f22 0%, #5e6770 100%);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}
.container img{
    border-radius: 10px;
    width: 77vw;
    height: 30vh;
    overflow: hidden;
}

.container a{
    display: inline-block;
    color: white;
    border: white 4px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: linear-gradient(60deg, #000000 0%, #003b75 100%);
}

.container p{
    color: white;

}

